<div class="flex justify-stretch items-stretch gap-4 flex-col lg:flex-row">
  <div class="flex-1 mat-elevation-z2 p-2">
    <app-ministry-of-defense-rankings-table
      [modRankings]="rankings.daily"
      [rankingsFormat]="'days'"
    >
      <h2 class="mat-h2" ngProjectAs="table-title" #tableTitle>
        <span i18n>Top days of russian losses</span>
      </h2>
    </app-ministry-of-defense-rankings-table>
  </div>

  <div class="flex-1 mat-elevation-z2 p-2">
    <app-ministry-of-defense-rankings-table
      [modRankings]="rankings.monthly"
      [rankingsFormat]="'months'"
    >
      <h2 class="mat-h2" ngProjectAs="table-title" #tableTitle>
        <span i18n>Top months of russian losses</span>
      </h2>
    </app-ministry-of-defense-rankings-table>
  </div>
</div>
