<div class="table-container">
  <div class="p-1 flex flex-row justify-between">
    <ng-content select="table-title"></ng-content>
    <button mat-icon-button (click)="export(modRankings)">
      <mat-icon>download</mat-icon>
    </button>
  </div>
  <table mat-table [dataSource]="modRankings">
    <ng-container matColumnDef="entityName" sticky>
      <th mat-header-cell *matHeaderCellDef>
        <span i18n>Type</span>
      </th>
      <td mat-cell *matCellDef="let element">
        <div class="flex flex-row justify-start items-center gap-4">
          <mat-icon
            [svgIcon]="'mod_' + element.entityName"
            class="icon-m"
          ></mat-icon>
          <span class="mat-caption">{{
            element.entityName | appTranslate
          }}</span>
        </div>
      </td>
    </ng-container>

    @for (place of places; track $index) {
    <ng-container [matColumnDef]="place + '-place'">
      <th mat-header-cell *matHeaderCellDef>
        #{{ place + 1 }}
        {{ placesEmojis[place] }}
      </th>
      <td mat-cell *matCellDef="let element">
        <app-ranking-cell
          [placeRanking]="element.places[place]"
          [rankingsFormat]="rankingsFormat"
        ></app-ranking-cell>
      </td>
    </ng-container>
    }

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
