:host {
  display: block;
  height: 100%;
  overflow-y: scroll;
  overscroll-behavior: none;
}

.donation-card {
  min-width: 380px;
  max-width: 45%;
  @media screen and (max-width: 1240px) {
    min-width: 100%;
    max-width: 100%;
  }
  & .logo-container {
    width: 100%;
    height: 240px;
    padding: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    img {
      position: relative !important;
      height: auto !important;
      object-fit: cover; /* Resize the image to cover the container while maintaining aspect ratio */
      object-position: center;
    }
  }
}

.donation-header-image {
  background-size: cover;
}
