<div class="flex flex-col justify-start items-stretch gap-2">
  <div class="flex flex-row flex-wrap items-center justify-start gap-2">
    @for (item of socialShareOptions; track $index) {
    <div>
      <fa-icon
        [icon]="item.icon"
        size="2x"
        class="cursor-pointer"
        (click)="share(item)"
      ></fa-icon>
    </div>
    }
  </div>
  <div class="flex flex-row justify-start items-center gap-2">
    <div class="flex flex-row items-center justify-start flex-1">
      <span class="text-xs font-bold" i18n>URL:</span>
      <span class="text-xs ml-2">{{ url }}</span>
    </div>
    <button mat-icon-button (click)="copy()">
      <mat-icon>content_copy</mat-icon>
    </button>
  </div>
</div>
