<div
  class="flex flex-col items-stretch justify-start h-full overscroll-none"
  [ngClass]="{ 'overflow-y-scroll': isMobile() }"
  #scrollContainerMobile
>
  <div
    class="flex flex-row justify-start items-center mat-elevation-z4 flex-none z-10"
  >
    <app-range-selection
      (rangeChanged)="setRange($event)"
    ></app-range-selection>
    @if (!isMobile()&&baseUrl) {
    <div class="flex flex-1 flex-row justify-end items-center p-2">
      <app-social-share-button [url]="baseUrl"></app-social-share-button>
    </div>
    }
  </div>
  @if (data$|async; as data) { @if(notAllDataPresent){
  <span class="text-red-500"> scraping on maintenance </span>
  }
  <app-ministry-of-defense-statistics-presenter
    #scrollContainer
    class="flex-1 overscroll-none"
    [ngClass]="{ 'overflow-y-scroll': !isMobile() }"
    [datesRange]="localRange"
    [data]="data"
  ></app-ministry-of-defense-statistics-presenter>
  }
</div>
@if (containerReady) {
<app-scroll-to-top
  class="scroll-to-top w-14 h-14 z-10"
  [scrollContainer]="currentScrollContainer"
>
</app-scroll-to-top>
}
