<div class="flex flex-col md:flex-row md:justify-start items-stretch pb-2">
  <div class="flex flex-col content-start justify-start gap-2">
    @for (field of statistics; track $index) {
    <div
      class="flex-1 flex flex-col items-center relative"
      [ngClass]="{ 'mat-elevation-z2 cursor-pointer': field.count > 0 }"
      (click)="openInfo(field)"
    >
      @if (field.count>0) {
      <div class="image-icon-absolute">
        <mat-icon>imagesmode</mat-icon>
      </div>
      }
      <div class="flex flex-col justify-center items-center p-2">
        <div class="mat-caption">
          {{ field.name }}
        </div>
        <div class="mat-caption">
          {{ field.count }}
        </div>
      </div>
    </div>
    }
  </div>
  <app-pie-chart [data]="chartData" [title]="entityModel.name"></app-pie-chart>
</div>
<mat-divider></mat-divider>
<app-oryx-entity-info
  [info]="entityModel.info"
  class="pt-4"
></app-oryx-entity-info>
