<div class="flex flex-row gap-2">
  <div class="flex-1 flex justify-start items-center">
    <div class="p-2 mat-subtitle-1">{{ title }}</div>
  </div>
  <div
    [formGroup]="form"
    class="flex flex-row flex-none gap-2 justify-center items-center"
  >
    <mat-checkbox formControlName="showDeviateFromAverage"
      >Show compared to Average</mat-checkbox
    >
    <div>
      <mat-button-toggle-group
        formControlName="displayMode"
        aria-label="Font Style"
      >
        <mat-button-toggle value="daily">Daily</mat-button-toggle>
        <mat-button-toggle value="monthly">Monthly</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
</div>
<canvas #chartCanvas></canvas>
