<div class="flex flex-col justify-start items-stretch gap-4 navigation-list">
  @for (item of list; track $index) {
  <div
    class="flex flex-col cursor-pointer h-24 navigation-list-item-container"
    routerLinkActive="mat-elevation-z6"
    [matTooltip]="item.tooltip"
    matTooltipPosition="right"
    matTooltipTouchGestures="off"
  >
    <div class="flex w-full h-full flex-col navigation-list-item p-2">
      <a
        [routerLink]="item.route"
        class="flex w-full h-full flex-col items-center justify-center gap-1 no-global-a"
      >
        @if (item.icon) {
        <div>
          @if (item.isIconRegistered) {
          <mat-icon [svgIcon]="item.icon" class="icon-m"></mat-icon>
          } @else {
          <img [src]="item.icon" width="50" />
          }
        </div>
        }
        <div
          class="flex justify-center items-center"
          routerLinkActive="active-route"
        >
          <div class="text-center leading-tight">
            {{ item.title }}
          </div>
        </div>
      </a>
    </div>
  </div>
  }
</div>
