<div class="flex h-full flex-col justify-start items-stretch">
  <div
    class="mat-elevation-z4 flex-none z-10 h-12 flex flex-row justify-start items-stretch pl-8"
  >
    @if(containerReady) {
    <div
      class="flex flex-row justify-center items-stretch gap-8 sub-routes-container"
    >
      @for (link of links; track $index) {
      <div
        class="link-container flex flex-row justify-center items-center w-24 navigation-list-item"
        routerLinkActive="active-sub-route mat-elevation-z3 active-oryx-route"
        [routerLink]="link.route"
        appResetScroll
        [appRoutePath]="link.route"
        [scrollContainer]="scrollContainer"
      >
        <span>{{ link.name }}</span>
      </div>
      }
    </div>
    }
  </div>
  <div class="flex-1 overflow-y-scroll overscroll-none" #scrollDiv>
    <router-outlet></router-outlet>
  </div>
</div>
@if (containerReady) {
<app-scroll-to-top
  class="scroll-to-top w-14 h-14 z-10"
  [scrollContainer]="scrollContainer"
>
</app-scroll-to-top>
}
