<div class="flex flex-col gap-8">
  <app-ministry-of-defense-days-table [daysData]="daysData">
    <span class="mat-h2" ngProjectAs="table-title" #tableTitle>
      <span i18n>Russian losses by date</span> &nbsp;
      <span i18n>{{ datesRange.start | date : "dd.MM.YYYY" }}</span> -
      <span i18n>{{ datesRange.end | date : "dd.MM.YYYY" }} </span> &nbsp;
      <span i18n>({{ datesRange.days }} days)</span>
    </span>
  </app-ministry-of-defense-days-table>

  <div class="flex flex-row gap-4">
    <app-ministry-of-defense-calculated-table
      class="flex-1 mat-elevation-z2 p-2"
      [calculatedData]="summaryData"
    >
      <span class="mat-h2" ngProjectAs="table-title" #tableTitle>
        <span i18n>Summary russian losses in range</span> &nbsp;
        <span i18n>{{ datesRange.start | date : "dd.MM.YYYY" }}</span> -
        <span i18n>{{ datesRange.end | date : "dd.MM.YYYY" }}</span> &nbsp;
        <span i18n>({{ datesRange.days }} days)</span>
      </span>
    </app-ministry-of-defense-calculated-table>
    <app-ministry-of-defense-calculated-table
      class="flex-1 mat-elevation-z2 p-2"
      [calculatedData]="averageData"
    >
      <span class="mat-h2" ngProjectAs="table-title" #tableTitle>
        <span i18n>Average russian daily losses in range</span> &nbsp;
        <span i18n>{{ datesRange.start | date : "dd.MM.YYYY" }}</span> -
        <span i18n>{{ datesRange.end | date : "dd.MM.YYYY" }}</span> &nbsp;
        <span i18n>({{ datesRange.days }} days)</span>
      </span>
    </app-ministry-of-defense-calculated-table>
  </div>
  <app-ministry-of-defense-rankings-tables
    [rankings]="rankings"
  ></app-ministry-of-defense-rankings-tables>
</div>
