:host {
  display: block;
}

.range-selection-container {
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
}
.full-range-button-container {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

@media screen and (max-width: 400px) {
  .full-range-button-container {
    padding-top: 0rem;
  }
}

@media screen and (max-width: 768px) {
  .big-button {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .small-button {
    display: none;
  }
}
