<div class="flex flex-row items-start justify-start gap-4 pt-2 px-4">
  <form [formGroup]="rangeForm">
    <mat-form-field>
      <mat-label>
        <span i18n>Enter a date range</span>
      </mat-label>
      <mat-date-range-input
        formGroupName="range"
        [rangePicker]="picker"
        [min]="startDate"
        [max]="endDate"
      >
        <input
          matStartDate
          formControlName="start"
          placeholder="Start date"
          i18n-placeholder
          (dateChange)="onDateRangeChange()"
        />
        <input
          matEndDate
          formControlName="end"
          placeholder="End date"
          i18n-placeholder
          (dateChange)="onDateRangeChange()"
        />
      </mat-date-range-input>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </form>
  <div
    class="flex flex-row justify-center items-center gap-1 pt-2"
    [matTooltip]="fullRangeTooltip"
    matTooltipPosition="below"
  >
    <button mat-raised-button color="accent" (click)="selectFullRange()">
      <mat-icon>date_range</mat-icon>
      <span i18n>Full range</span>
    </button>
  </div>
</div>
