@if (info&&isInfoPresent) {
<div class="flex flex-col justify-start items-start gap-2">
  @if (info.url||(info.description??[]).length > 0) {
  <mat-icon>info</mat-icon>
  <!-- url -->
  @if (info.url) {
  <div class="flex flex-row justify-start items-center gap-2">
    <div>
      <span i18n>URL:</span>
    </div>
    <a href="{{ info.url }}" target="_blank">{{ info.url }}</a>
  </div>
  }
  <!-- description -->
  @if (info.description) {
  <div class="flex-col justify-start items-start gap-1"></div>
  @for (description of info.description; track $index) {
  <p class="mat-caption">{{ description }}</p>
  } } }
  <!-- images -->
  @if (images&& images.length > 0) {
  <mat-icon>image</mat-icon>
  <div class="flex flex-col justify-stretch items-stretch gap-2">
    <div>
      <span i18n>Reference images:</span>
    </div>
    <div class="flex flex-row flex-wrap justify-around items-center gap-2">
      @for (image of images; track $index) {
      <img
        src="{{ image }}"
        alt="{{ info.title }}"
        class="responsive-image object-cover"
      />
      }
    </div>
  </div>
  }
</div>
}
