<div class="sm:m-2 p-2 flex flex-col justify-start items-stretch gap-1">
  <div class="mat-h1">{{ data.countryName }} losses</div>
  <div>
    <a [href]="metadata.url" target="_blank">
      <span i18n>Source link</span>
    </a>
  </div>
  <div>
    <span i18n>Last scrapped:</span>&nbsp;
    <span>{{ data.updatedAt | date : "dd.MM.YYYY hh:mm:ss" }}</span>
  </div>
  <app-oryx-statistics
    [statistics]="data.statistics"
    class="sm:m-2 p-2"
  ></app-oryx-statistics>
</div>
<div class="sm:m-2 p-2 flex flex-col justify-start items-stretch">
  @for (entityType of data.entityTypes; track $index) {
  <div class="flex flex-col justify-start items-stretch mb-10">
    <app-oryx-type-losses
      [entityType]="entityType"
      class="mb-4"
    ></app-oryx-type-losses>
    <mat-divider></mat-divider>
  </div>
  }
</div>
