<div class="m-2 p-2 flex flex-col justify-start items-stretch">
  <div class="mat-h1">{{ data.countryName }} losses</div>
  <div>
    <a [href]="metadata.url" target="_blank">Source link</a>
  </div>
  <div>
    <span>Last scrapped:&nbsp;</span
    >{{ data.updatedAt | date : "dd.MM.YYYY hh:mm:ss" }}
  </div>
  <app-oryx-statistics
    [statistics]="data.statistics"
    class="m-2 p-2"
  ></app-oryx-statistics>
</div>
<div class="m-2 p-2 flex flex-col justify-start items-stretch">
  @for (entityType of data.entityTypes; track $index) {
  <div class="flex flex-col justify-start items-stretch mb-10">
    <app-oryx-type-losses
      [entityType]="entityType"
      class="mb-4"
    ></app-oryx-type-losses>
    <mat-divider></mat-divider>
  </div>
  }
</div>
