<div class="mt-8 mx-16 md:mx-32 lg:mx-40 xl:mx-64">
  <p class="mat-h1">%NAME_HERE%</p>
  <article class="text-justify">
    <p class="mat-h2">
      On February 24th, 2022, the world witnessed the stark reality of russian
      imperialistic aggression in Ukraine.
    </p>
    <p class="mat-h2">
      Since then, Ukraine has been a symbol of resilience, bravely confronting
      against military superpower. It's a battle not only for land but for the
      preservation of culture and identity.
    </p>
    <p class="mat-h2">
      <span>
        Many experts predicted that Ukraine's fall would be a matter of weeks,
        yet it's been already
      </span>
      <span class="bold-text text-3xl bg-red-500">{{ daysCount }} days</span>
      <span
        >, and the Ukrainian military forces not only continue to stand strong
        but have also grown significantly stronger.
      </span>
    </p>
    <p class="mat-h2">
      It's crucially important to continue fighting against this existential
      threat as well as remember ukrainian soldiers and people who gave their
      lives fighting for brighter future and freedom of our country. This
      website is a tribute to all those who gave their lives for Ukraine.
    </p>
    <p class="mat-h2"></p>
  </article>
</div>
