@if (platformService.isRunningOnBrowser()) {
<mat-tab-group>
  <mat-tab label="Tables">
    <app-ministry-of-defense-tables
      [data]="data"
      [datesRange]="datesRange"
    ></app-ministry-of-defense-tables>
  </mat-tab>
  <mat-tab label="Charts">
    <app-ministry-of-defense-charts
      [data]="data"
      [datesRange]="datesRange"
    ></app-ministry-of-defense-charts
  ></mat-tab>
</mat-tab-group>
} @else {
<app-ministry-of-defense-tables
  [data]="data"
  [datesRange]="datesRange"
></app-ministry-of-defense-tables>
}
