<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>table_view</mat-icon>
      <span i18n class="ml-2">Tables</span>
    </ng-template>
    <app-ministry-of-defense-tables
      class="p-2 sm:m-2"
      [data]="data"
      [datesRange]="datesRange"
    ></app-ministry-of-defense-tables>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>bar_chart</mat-icon>
      <span i18n class="ml-2">Charts</span>
    </ng-template>
    @if (platformService.isRunningOnBrowser()) {
    <app-ministry-of-defense-charts
      class="p-2 sm:m-2"
      [data]="data"
      [datesRange]="datesRange"
    ></app-ministry-of-defense-charts>
    }
  </mat-tab>
</mat-tab-group>
