<mat-tab-group color="primary">
  <mat-tab label="Tables" i18n-label>
    <app-ministry-of-defense-tables
      class="p-2 m-2"
      [data]="data"
      [datesRange]="datesRange"
    ></app-ministry-of-defense-tables>
  </mat-tab>
  <mat-tab label="Charts" i18n-label>
    @if (platformService.isRunningOnBrowser()) {
    <app-ministry-of-defense-charts
      class="p-2 m-2"
      [data]="data"
      [datesRange]="datesRange"
    ></app-ministry-of-defense-charts>
    }
  </mat-tab>
</mat-tab-group>
