<div class="flex flex-col justify-start items-stretch">
  <div class="mat-h2">{{ "oryx_type_" + entityType.code | appTranslate }}</div>
  <app-oryx-statistics
    [statistics]="entityType.statistics"
    class="m-2 p-2"
  ></app-oryx-statistics>
  <div class="ml-6 flex flex-row justify-stretch items-start">
    <mat-accordion class="flex-1" multi>
      @for (entityModel of entityType.entities; track $index) {
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> {{ entityModel.name }} </mat-panel-title>
          <mat-panel-description>
            {{ entityModel.count }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <app-oryx-entity-losses
            [entityModel]="entityModel"
          ></app-oryx-entity-losses>
        </ng-template>
      </mat-expansion-panel>
      }
    </mat-accordion>
    <div
      class="flex flex-1 flex-col justify-start items-stretch gap-6 pl-8 pr-8"
    >
      @defer (on viewport) {
      <app-pie-chart
        [data]="statisticsChartData"
        [title]="'oryx_type_' + entityType.code | appTranslate"
      ></app-pie-chart>
      <app-number-data-chart
        [data]="entitiesChartData"
        [title]="'oryx_type_' + entityType.code | appTranslate"
      ></app-number-data-chart>
      }@placeholder {
      <div>
        {{ "oryx_type_" + entityType.code | appTranslate }} charts placeholder
      </div>
      }
    </div>
  </div>
</div>
