<div class="flex flex-col justify-start items-stretch gap-2">
  <div class="mat-h2">{{ entityTypeName }}</div>
  <app-oryx-statistics
    [statistics]="entityType.statistics"
    class="sm:m-2 p-2"
  ></app-oryx-statistics>
  <div
    class="ml-3 md:ml-6 flex flex-col justify-stretch items-stretch lg:items-start lg:flex-row"
  >
    <mat-accordion class="flex-1" multi>
      @for (entityModel of entityType.entities; track $index) {
      <mat-expansion-panel>
        <mat-expansion-panel-header [collapsedHeight]="'auto'">
          <mat-panel-title>
            <span class="p-2">{{ entityModel.name }}</span>
          </mat-panel-title>
          <mat-panel-description>
            {{ entityModel.count }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <app-oryx-entity-losses
            [entityModel]="entityModel"
          ></app-oryx-entity-losses>
        </ng-template>
      </mat-expansion-panel>
      }
    </mat-accordion>
    <div
      class="flex flex-1 flex-col justify-start items-stretch gap-6 pl-8 pr-8"
    >
      @defer (on viewport) {
      <app-pie-chart
        [data]="statisticsChartData"
        [title]="entityTypeName"
      ></app-pie-chart>
      }@placeholder {
      <div class="w-full h-20 m-4 flex items-center justify-center">
        <mat-spinner color="accent"></mat-spinner>
      </div>
      }
    </div>
  </div>
  @defer (on viewport) {
  <app-number-data-chart
    [color]="chartLineColor"
    [data]="entitiesChartData"
    [title]="entityTypeName"
  ></app-number-data-chart>
  }@placeholder {
  <div class="w-full h-20 m-4 flex items-center justify-center">
    <mat-spinner color="accent"></mat-spinner>
  </div>
  }
</div>
