:host {
  display: block;
}

ul {
  list-style-type: decimal;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

a {
  color: #007bff;
  text-decoration: none;
  box-shadow: unset;
}

a:hover {
  box-shadow: unset;
  text-decoration: underline;
}
