<mat-sidenav-container class="h-screen w-screen" autosize>
  <mat-sidenav
    #leftSidenav
    class="w-28 sm:w-24 flex flex-col space-y-5"
    [mode]="isMobile() ? 'over' : 'side'"
    [fixedInViewport]="isMobile()"
    [opened]="!isMobile()"
  >
    <div class="h-full flex flex-col justify-start items-stretch gap-4">
      <div
        class="logo justify-center flex pt-2 pb-2 cursor-pointer"
        (click)="goHome()"
      >
        <mat-icon svgIcon="trident" class="logo-svg"></mat-icon>
      </div>
      <div>
        <app-navigation-list [list]="navigationList"></app-navigation-list>
      </div>
      <div class="flex flex-1"></div>
      <div class="flex-none flex flex-col p-2 justify-center items-center">
        <app-toggle-theme></app-toggle-theme>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="content h-screen">
    @if (isMobile()) {
    <mat-toolbar color="accent">
      <button mat-icon-button (click)="leftSidenav.toggle()" color="primary">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    }
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
