<mat-drawer-container class="h-screen w-screen" autosize>
  <mat-drawer
    #drawer
    class="w-24 flex flex-col space-y-5"
    mode="side"
    [opened]="true"
  >
    <div class="h-full flex flex-col justify-start items-stretch gap-4">
      <div class="logo justify-center flex p-1 m-2 pb-2">
        <img src="assets/img/trident.svg" width="55" />
      </div>
      <div>
        <app-navigation-list [list]="navigationList"></app-navigation-list>
      </div>
      <div class="flex flex-1"></div>
      <div class="flex-none flex flex-col p-2 justify-center items-center">
        <app-toggle-theme></app-toggle-theme>
      </div>
    </div>
  </mat-drawer>

  <div class="content h-screen w-full">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
